flask
python-dateutil
itsdangerous==2.1.2
flask-sqlalchemy
flask-wtf
pandas
sqlalchemy
werkzeug
wtforms
weasyprint
gunicorn
psycopg2-binary
xlsxwriter
openpyxl
pandas
gunicorn
email-validator
flask
flask-sqlalchemy
flask-wtf
gunicorn
pandas
psycopg2-binary
sqlalchemy
weasyprint
werkzeug
xlsxwriter
gunicorn
email-validator
flask
flask-sqlalchemy
flask-wtf
gunicorn
psycopg2-binary
wtforms
